@import "tailwindcss";

:root {
  --light: #ebf6fe;
  --blue: #2f7ea5;
  --red: #ff4456;
  --yellow: #fbda5d;
  --charcoal: #3d3d48;
}

body {
  background: var(--light);
  color: var(--charcoal);
  font-family: var(--font-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
}

/* todo: handle top scrolling if possible  */
