@import "tailwindcss";

:root {
  --light: #ebf6fe;
  --blue: #709be5;
  --red: #ff4456;
  --yellow: #fbda5d;
  --charcoal: #3d3d48;
}

body {
  background: var(--blue);
  color: var(--charcoal);
  font-family: var(--font-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
}
/* TODO: handle the footer scroll background color  */
